pkgbase = thunderbird-beta-i18n
	pkgdesc = Language packs for Thunderbird Beta
	pkgver = 129.0b6
	pkgrel = 1
	url = http://www.mozilla.com/
	arch = any
	license = MPL-2.0
	license = GPL-2.0-only
	license = LGPL-2.1-only
	noextract = thunderbird-beta-i18n-129.0b6-af.xpi
	noextract = thunderbird-beta-i18n-129.0b6-ar.xpi
	noextract = thunderbird-beta-i18n-129.0b6-ast.xpi
	noextract = thunderbird-beta-i18n-129.0b6-be.xpi
	noextract = thunderbird-beta-i18n-129.0b6-bg.xpi
	noextract = thunderbird-beta-i18n-129.0b6-br.xpi
	noextract = thunderbird-beta-i18n-129.0b6-ca.xpi
	noextract = thunderbird-beta-i18n-129.0b6-cak.xpi
	noextract = thunderbird-beta-i18n-129.0b6-cs.xpi
	noextract = thunderbird-beta-i18n-129.0b6-cy.xpi
	noextract = thunderbird-beta-i18n-129.0b6-da.xpi
	noextract = thunderbird-beta-i18n-129.0b6-de.xpi
	noextract = thunderbird-beta-i18n-129.0b6-dsb.xpi
	noextract = thunderbird-beta-i18n-129.0b6-el.xpi
	noextract = thunderbird-beta-i18n-129.0b6-en-CA.xpi
	noextract = thunderbird-beta-i18n-129.0b6-en-GB.xpi
	noextract = thunderbird-beta-i18n-129.0b6-en-US.xpi
	noextract = thunderbird-beta-i18n-129.0b6-es-AR.xpi
	noextract = thunderbird-beta-i18n-129.0b6-es-ES.xpi
	noextract = thunderbird-beta-i18n-129.0b6-es-MX.xpi
	noextract = thunderbird-beta-i18n-129.0b6-et.xpi
	noextract = thunderbird-beta-i18n-129.0b6-eu.xpi
	noextract = thunderbird-beta-i18n-129.0b6-fi.xpi
	noextract = thunderbird-beta-i18n-129.0b6-fr.xpi
	noextract = thunderbird-beta-i18n-129.0b6-fy-NL.xpi
	noextract = thunderbird-beta-i18n-129.0b6-ga-IE.xpi
	noextract = thunderbird-beta-i18n-129.0b6-gd.xpi
	noextract = thunderbird-beta-i18n-129.0b6-gl.xpi
	noextract = thunderbird-beta-i18n-129.0b6-he.xpi
	noextract = thunderbird-beta-i18n-129.0b6-hr.xpi
	noextract = thunderbird-beta-i18n-129.0b6-hsb.xpi
	noextract = thunderbird-beta-i18n-129.0b6-hu.xpi
	noextract = thunderbird-beta-i18n-129.0b6-hy-AM.xpi
	noextract = thunderbird-beta-i18n-129.0b6-id.xpi
	noextract = thunderbird-beta-i18n-129.0b6-is.xpi
	noextract = thunderbird-beta-i18n-129.0b6-it.xpi
	noextract = thunderbird-beta-i18n-129.0b6-ja.xpi
	noextract = thunderbird-beta-i18n-129.0b6-ka.xpi
	noextract = thunderbird-beta-i18n-129.0b6-kab.xpi
	noextract = thunderbird-beta-i18n-129.0b6-kk.xpi
	noextract = thunderbird-beta-i18n-129.0b6-ko.xpi
	noextract = thunderbird-beta-i18n-129.0b6-lt.xpi
	noextract = thunderbird-beta-i18n-129.0b6-lv.xpi
	noextract = thunderbird-beta-i18n-129.0b6-ms.xpi
	noextract = thunderbird-beta-i18n-129.0b6-nb-NO.xpi
	noextract = thunderbird-beta-i18n-129.0b6-nl.xpi
	noextract = thunderbird-beta-i18n-129.0b6-nn-NO.xpi
	noextract = thunderbird-beta-i18n-129.0b6-pa-IN.xpi
	noextract = thunderbird-beta-i18n-129.0b6-pl.xpi
	noextract = thunderbird-beta-i18n-129.0b6-pt-BR.xpi
	noextract = thunderbird-beta-i18n-129.0b6-pt-PT.xpi
	noextract = thunderbird-beta-i18n-129.0b6-rm.xpi
	noextract = thunderbird-beta-i18n-129.0b6-ro.xpi
	noextract = thunderbird-beta-i18n-129.0b6-ru.xpi
	noextract = thunderbird-beta-i18n-129.0b6-sk.xpi
	noextract = thunderbird-beta-i18n-129.0b6-sl.xpi
	noextract = thunderbird-beta-i18n-129.0b6-sq.xpi
	noextract = thunderbird-beta-i18n-129.0b6-sr.xpi
	noextract = thunderbird-beta-i18n-129.0b6-sv-SE.xpi
	noextract = thunderbird-beta-i18n-129.0b6-th.xpi
	noextract = thunderbird-beta-i18n-129.0b6-tr.xpi
	noextract = thunderbird-beta-i18n-129.0b6-uk.xpi
	noextract = thunderbird-beta-i18n-129.0b6-uz.xpi
	noextract = thunderbird-beta-i18n-129.0b6-vi.xpi
	noextract = thunderbird-beta-i18n-129.0b6-zh-CN.xpi
	noextract = thunderbird-beta-i18n-129.0b6-zh-TW.xpi
	source = thunderbird-beta-i18n-129.0b6-af.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/af.xpi
	source = thunderbird-beta-i18n-129.0b6-ar.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/ar.xpi
	source = thunderbird-beta-i18n-129.0b6-ast.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/ast.xpi
	source = thunderbird-beta-i18n-129.0b6-be.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/be.xpi
	source = thunderbird-beta-i18n-129.0b6-bg.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/bg.xpi
	source = thunderbird-beta-i18n-129.0b6-br.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/br.xpi
	source = thunderbird-beta-i18n-129.0b6-ca.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/ca.xpi
	source = thunderbird-beta-i18n-129.0b6-cak.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/cak.xpi
	source = thunderbird-beta-i18n-129.0b6-cs.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/cs.xpi
	source = thunderbird-beta-i18n-129.0b6-cy.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/cy.xpi
	source = thunderbird-beta-i18n-129.0b6-da.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/da.xpi
	source = thunderbird-beta-i18n-129.0b6-de.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/de.xpi
	source = thunderbird-beta-i18n-129.0b6-dsb.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/dsb.xpi
	source = thunderbird-beta-i18n-129.0b6-el.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/el.xpi
	source = thunderbird-beta-i18n-129.0b6-en-CA.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/en-CA.xpi
	source = thunderbird-beta-i18n-129.0b6-en-GB.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/en-GB.xpi
	source = thunderbird-beta-i18n-129.0b6-en-US.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/en-US.xpi
	source = thunderbird-beta-i18n-129.0b6-es-AR.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/es-AR.xpi
	source = thunderbird-beta-i18n-129.0b6-es-ES.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/es-ES.xpi
	source = thunderbird-beta-i18n-129.0b6-es-MX.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/es-MX.xpi
	source = thunderbird-beta-i18n-129.0b6-et.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/et.xpi
	source = thunderbird-beta-i18n-129.0b6-eu.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/eu.xpi
	source = thunderbird-beta-i18n-129.0b6-fi.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/fi.xpi
	source = thunderbird-beta-i18n-129.0b6-fr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/fr.xpi
	source = thunderbird-beta-i18n-129.0b6-fy-NL.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/fy-NL.xpi
	source = thunderbird-beta-i18n-129.0b6-ga-IE.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/ga-IE.xpi
	source = thunderbird-beta-i18n-129.0b6-gd.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/gd.xpi
	source = thunderbird-beta-i18n-129.0b6-gl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/gl.xpi
	source = thunderbird-beta-i18n-129.0b6-he.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/he.xpi
	source = thunderbird-beta-i18n-129.0b6-hr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/hr.xpi
	source = thunderbird-beta-i18n-129.0b6-hsb.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/hsb.xpi
	source = thunderbird-beta-i18n-129.0b6-hu.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/hu.xpi
	source = thunderbird-beta-i18n-129.0b6-hy-AM.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/hy-AM.xpi
	source = thunderbird-beta-i18n-129.0b6-id.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/id.xpi
	source = thunderbird-beta-i18n-129.0b6-is.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/is.xpi
	source = thunderbird-beta-i18n-129.0b6-it.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/it.xpi
	source = thunderbird-beta-i18n-129.0b6-ja.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/ja.xpi
	source = thunderbird-beta-i18n-129.0b6-ka.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/ka.xpi
	source = thunderbird-beta-i18n-129.0b6-kab.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/kab.xpi
	source = thunderbird-beta-i18n-129.0b6-kk.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/kk.xpi
	source = thunderbird-beta-i18n-129.0b6-ko.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/ko.xpi
	source = thunderbird-beta-i18n-129.0b6-lt.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/lt.xpi
	source = thunderbird-beta-i18n-129.0b6-lv.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/lv.xpi
	source = thunderbird-beta-i18n-129.0b6-ms.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/ms.xpi
	source = thunderbird-beta-i18n-129.0b6-nb-NO.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/nb-NO.xpi
	source = thunderbird-beta-i18n-129.0b6-nl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/nl.xpi
	source = thunderbird-beta-i18n-129.0b6-nn-NO.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/nn-NO.xpi
	source = thunderbird-beta-i18n-129.0b6-pa-IN.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/pa-IN.xpi
	source = thunderbird-beta-i18n-129.0b6-pl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/pl.xpi
	source = thunderbird-beta-i18n-129.0b6-pt-BR.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/pt-BR.xpi
	source = thunderbird-beta-i18n-129.0b6-pt-PT.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/pt-PT.xpi
	source = thunderbird-beta-i18n-129.0b6-rm.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/rm.xpi
	source = thunderbird-beta-i18n-129.0b6-ro.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/ro.xpi
	source = thunderbird-beta-i18n-129.0b6-ru.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/ru.xpi
	source = thunderbird-beta-i18n-129.0b6-sk.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/sk.xpi
	source = thunderbird-beta-i18n-129.0b6-sl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/sl.xpi
	source = thunderbird-beta-i18n-129.0b6-sq.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/sq.xpi
	source = thunderbird-beta-i18n-129.0b6-sr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/sr.xpi
	source = thunderbird-beta-i18n-129.0b6-sv-SE.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/sv-SE.xpi
	source = thunderbird-beta-i18n-129.0b6-th.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/th.xpi
	source = thunderbird-beta-i18n-129.0b6-tr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/tr.xpi
	source = thunderbird-beta-i18n-129.0b6-uk.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/uk.xpi
	source = thunderbird-beta-i18n-129.0b6-uz.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/uz.xpi
	source = thunderbird-beta-i18n-129.0b6-vi.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/vi.xpi
	source = thunderbird-beta-i18n-129.0b6-zh-CN.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/zh-CN.xpi
	source = thunderbird-beta-i18n-129.0b6-zh-TW.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/129.0b6/linux-x86_64/xpi/zh-TW.xpi
	sha256sums = 0b70313e0d773224ab3e0b7d9d3af8c9572e6c2122d6e84fbc2ee3b40c29f3c3
	sha256sums = c7d9738d3c3e5540330378d24e26b2585fabfc088a482fa851ddd7200f79b109
	sha256sums = 2626388ebdff6a6fd6dd6fdb5e3add60be5a018f7dcbdb45e56ba0f11023b410
	sha256sums = 674a4555f0ccd10241136755fa17a2e20137ce641bebb4a1da99f52442f4489b
	sha256sums = 77573ff38ee463ae283ac65de69d304b38de451497504eecf3fb06ff83f8b01c
	sha256sums = 673cbd052a15dcc2fe2d798e77f5947de9244512ec5d9cedd9d1c7b3de10e034
	sha256sums = 6d6abd5945d4581a09519b2690f2c8cde22eaf3da48489d7a5255c6d1bd2328b
	sha256sums = 7500d3c2ebb0ac7b7c3cd00df848e47db6e9978163304cd27e2b04f3836ed97f
	sha256sums = 51258f948721edceb1175ec3531f446a19bc19a23e1bbe2d679b11315e42c29c
	sha256sums = ac8a112e8ac86c68747e7b48ade5e998c595e4d8cd3b72df3ebb321c156d205f
	sha256sums = 784a1159a48602350f7836aa0a7546baf09aa27059fc7307bd20b94be898d80b
	sha256sums = 239c21ccfbbfde3040a2f4bd51c11865d5715aace8b1955df15b4b97a3a8fcfd
	sha256sums = f31d900e647939ced6aa23a09895017b7fb1a05e0e8d589e6916b7dd6df625f4
	sha256sums = fce78eb68d41d83255bbe5632245e8954d9a0d0a54e9e163d6943b69eb778514
	sha256sums = ef6bfe0df814f5d8a16d90a7cf34107e0d99992589ca73125b03b2e592dbbc93
	sha256sums = 89593922daa102c94281d914db5b728650f335bc0b7926e2b6763c78af1171fb
	sha256sums = 468bee5a488cc488ff54fa39ff7d056fb97699061614763bfb2a56fd4d099eab
	sha256sums = b30e66b38af164d09e82ffafe592bcce3d065fec0c59160d8eb4a69f9fd487a0
	sha256sums = 55522189e5159ab430b0777c8938b280007058ad0fa33371122a15888eb7162d
	sha256sums = 1bec7721418f6bd30fb074607c8c1bccc527b68ac74a617b3d0845d0b945cb10
	sha256sums = 5c3b0b94d7c9f5feebee7b776bac3cdd40581805627ce68fce2f1e978834eb44
	sha256sums = 6a2294c5ffeb7653249db3bc7d03b3d7b3b80aa246573ae924944d3c99501c0e
	sha256sums = fbe3802306c82c98f09f9c60506f2e708e23338f1a810aa19c781e1161c35ecc
	sha256sums = 8fe3a00f79f058a530e60ff189dd6f00a2e285a61aedf8ed57e89591840132e6
	sha256sums = 8e1585ca4848f682760f954d4ddf38a2a55aca9f81de3340102dc3f86fe6a903
	sha256sums = 3f8fd97c5fba2cfcd9748eb6a7942b5b8995b3d5e8351dd73238bc35fca57cb4
	sha256sums = 23aaf1b18ab23a98e9fba38ecca7838d9cbcf8854c4c9e80ac17e9f40505c107
	sha256sums = 843b8a9c91317772f2940e9682e7ae334ea34e5723ab8c3d135ece20d4ccf04b
	sha256sums = 05cd17da8235ddfe5994f250ec9099ffd2e9d8924a9fc7ac687bbdaefcc5162e
	sha256sums = eadd058bb7b10167e38a99d763e89e53156c7ba5dda1feb6073c345caa15b132
	sha256sums = 5b43f253bf2936fc437c4bbb88c9a7dd5c3753d96afff3a3c2879dc45f08181e
	sha256sums = aa6e5507f1a1488361956ddda02c04b3ef7245801eadd476e5f848603be27989
	sha256sums = 1186b347d7e35c2ddf2ae5f73f873808b9a0fc9e196fb399d0f6d134b0a93310
	sha256sums = b7f7dea8fb31d9ede8f05aa495f250af9a4f6ec2cc45125217e3d5573b4b0888
	sha256sums = e3bb5f80093049870ca9125a23d17edb7140e8f1a9d24c1967d24d17dd3fcbd0
	sha256sums = 57d8281c5e3164740c263cf17b99c9aac02c6787262aa1bfbc71f93672875996
	sha256sums = 1fbb19417a005f3d901035ad907424d07a4c8f39292213095ab0327b6ba67072
	sha256sums = 3e3a1e39adae602a349010110ccee50ffe5236bd4945739c3513607644314776
	sha256sums = 4fd322f5e3018fda291ae2f5054fb479050ffb2e37a7b758df52e519663915a6
	sha256sums = 75a8bb6be18a42b4275ccd7a8e13b585ad3686b9ac8e1f1301be0eed6640e989
	sha256sums = 66770d23888843a33da1b4f15cae1d149c8f915ac9ee54d106d211028004fbe9
	sha256sums = 1ae966ed31a30e8354dc232eefeb239de5307fd37eb6cb6dc8b05efb2b6c62f7
	sha256sums = 9cb4e715d622889d9ad938dfe62e18db02ee653db85ee255b9dc5f875a86ceed
	sha256sums = 2e3e0391923bf301fce07e8e1378bf671bad5f278e34be3a968e555fa02678f8
	sha256sums = 468c16764e15edfe41ac5e107cce5e2340987265c512ee0e4e18821c0211c0fe
	sha256sums = 8bfa3bc656e8ad8990014ae575cb4a3a501e54d12af757bed44d4a8c4b4660b9
	sha256sums = 0cd68eb7501c0f847f8315361a017e1388723bdd3c760bda7e9a9ecd2627487c
	sha256sums = d13ffc83223651ef0ff850209ba69b632126d73944f2682941b4f2ba20f9d808
	sha256sums = ce3703a52a4348eb7e16567892426b214eb9613bec018a03d39620db64c5e792
	sha256sums = f0eb4ebe21f576308fdb6f2856d516592c0bf837fefc29f274131add47eda975
	sha256sums = 472988c5907af7eb99c1a63a0ceb4dea7d4d115c97f1a1d69f7ea69131674b03
	sha256sums = 3b6733b4b951b509fbc8d9115eaa8527c3cfbbfe21eaeecdb2fadb9f1c34feb0
	sha256sums = 2814d7c013ed9b6f919be391cf3c9af1637c7a2a9dcc7c0a6594f4df74b745ea
	sha256sums = 24e8d572ad40dc3f8bc50598bae31616ef7bed0d3f9a48400697580c2dabcc3c
	sha256sums = afe6347b633c2daaa9aedbf06965c9f1226f5677282d8d05d10bb26361b389cb
	sha256sums = f8d0cf897d68a9ab348ccc01a33e11fbb553923984d08184d40eb2e5f298d3df
	sha256sums = 43921fcf8e07ba653d1592862ae17949f04aa7f05d14fbd9f4fbe3ff9074c0b7
	sha256sums = 6d7d9289831087927c2a17c877ddeec5965bf24f72163324e33d15a9171e9f93
	sha256sums = 6fbbd0665c8556866a5228d0c2cb42dae70025e9b401d3d9693631ecc0e42473
	sha256sums = 5f9bde8a8d6fa906592d1084d9b891f37e4be3eb96312d7ebfc0dd395568ab24
	sha256sums = 6e3ddcfad18452e72b241c1e4e5e1645f7ad742f1392c1e33c404ea9f72d2257
	sha256sums = 3ffcfd457c6fc52ca2a024af3695c02b509334920684c9f437070d03b3d8e2c6
	sha256sums = fd3f71caf9360ce94aef6aef4380540cc25b4d56690624c95fb6815c6113c2f4
	sha256sums = cb3b99087ca917ad796d24f6f974589b7942c8910267c4ff53e86dc218b9f227
	sha256sums = 8da6b2648deca60f6f48048a9a9e0ab57bb7268bf855893b482d3bf79f84471f
	sha256sums = 5de1d7a4357823d1be69e27f84dda1991a48e925dfc8c832c531c53386aa1dd4

pkgname = thunderbird-beta-i18n-af
	pkgdesc = Afrikaans language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-ar
	pkgdesc = Arabic language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-ast
	pkgdesc = Asturian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-be
	pkgdesc = Belarusian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-bg
	pkgdesc = Bulgarian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-br
	pkgdesc = Breton language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-ca
	pkgdesc = Catalan language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-cak
	pkgdesc = Kaqchikel language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-cs
	pkgdesc = Czech language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-cy
	pkgdesc = Welsh language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-da
	pkgdesc = Danish language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-de
	pkgdesc = German language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-dsb
	pkgdesc = Sorbian, Lower language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-el
	pkgdesc = Greek language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-en-ca
	pkgdesc = English (Canada) language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-en-gb
	pkgdesc = English (Great Britain) language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-en-us
	pkgdesc = English language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-es-ar
	pkgdesc = Spanish (Argentina) language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-es-es
	pkgdesc = Spanish (Spain) language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-es-mx
	pkgdesc = Spanish (Mexico) language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-et
	pkgdesc = Estonian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-eu
	pkgdesc = Basque language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-fi
	pkgdesc = Finnish language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-fr
	pkgdesc = French language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-fy-nl
	pkgdesc = Frisian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-ga-ie
	pkgdesc = Irish language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-gd
	pkgdesc = Gaelic, Scottish language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-gl
	pkgdesc = Galician language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-he
	pkgdesc = Hebrew language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-hr
	pkgdesc = Croatian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-hsb
	pkgdesc = Sorbian, Upper language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-hu
	pkgdesc = Hungarian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-hy-am
	pkgdesc = Armenian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-id
	pkgdesc = Indonesian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-is
	pkgdesc = Icelandic language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-it
	pkgdesc = Italian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-ja
	pkgdesc = Japanese language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-ka
	pkgdesc = Georgian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-kab
	pkgdesc = Kabyle language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-kk
	pkgdesc = Kazakh language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-ko
	pkgdesc = Korean language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-lt
	pkgdesc = Lithuanian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-lv
	pkgdesc = Latvian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-ms
	pkgdesc = Malay language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-nb-no
	pkgdesc = Norwegian Bokmål language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-nl
	pkgdesc = Dutch language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-nn-no
	pkgdesc = Norwegian Nynorsk language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-pa-in
	pkgdesc = Punjabi language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-pl
	pkgdesc = Polish language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-pt-br
	pkgdesc = Portuguese (Brazil) language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-pt-pt
	pkgdesc = Portuguese (Portugal) language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-rm
	pkgdesc = Romansh language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-ro
	pkgdesc = Romanian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-ru
	pkgdesc = Russian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-sk
	pkgdesc = Slovak language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-sl
	pkgdesc = Slovenian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-sq
	pkgdesc = Albanian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-sr
	pkgdesc = Serbian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-sv-se
	pkgdesc = Swedish language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-th
	pkgdesc = Thai language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-tr
	pkgdesc = Turkish language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-uk
	pkgdesc = Ukrainian language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-uz
	pkgdesc = Uzbek language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-vi
	pkgdesc = Vietnamese language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-zh-cn
	pkgdesc = Chinese (China) language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

pkgname = thunderbird-beta-i18n-zh-tw
	pkgdesc = Chinese (Taiwan) language pack for Thunderbird Beta
	depends = thunderbird>=129.0b0

