pkgbase = thunderbird-beta-i18n
	pkgdesc = Language packs for Thunderbird Beta
	pkgver = 130.0b1
	pkgrel = 1
	url = http://www.mozilla.com/
	arch = any
	license = MPL-2.0
	license = GPL-2.0-only
	license = LGPL-2.1-only
	noextract = thunderbird-beta-i18n-130.0b1-af.xpi
	noextract = thunderbird-beta-i18n-130.0b1-ar.xpi
	noextract = thunderbird-beta-i18n-130.0b1-ast.xpi
	noextract = thunderbird-beta-i18n-130.0b1-be.xpi
	noextract = thunderbird-beta-i18n-130.0b1-bg.xpi
	noextract = thunderbird-beta-i18n-130.0b1-br.xpi
	noextract = thunderbird-beta-i18n-130.0b1-ca.xpi
	noextract = thunderbird-beta-i18n-130.0b1-cak.xpi
	noextract = thunderbird-beta-i18n-130.0b1-cs.xpi
	noextract = thunderbird-beta-i18n-130.0b1-cy.xpi
	noextract = thunderbird-beta-i18n-130.0b1-da.xpi
	noextract = thunderbird-beta-i18n-130.0b1-de.xpi
	noextract = thunderbird-beta-i18n-130.0b1-dsb.xpi
	noextract = thunderbird-beta-i18n-130.0b1-el.xpi
	noextract = thunderbird-beta-i18n-130.0b1-en-CA.xpi
	noextract = thunderbird-beta-i18n-130.0b1-en-GB.xpi
	noextract = thunderbird-beta-i18n-130.0b1-en-US.xpi
	noextract = thunderbird-beta-i18n-130.0b1-es-AR.xpi
	noextract = thunderbird-beta-i18n-130.0b1-es-ES.xpi
	noextract = thunderbird-beta-i18n-130.0b1-es-MX.xpi
	noextract = thunderbird-beta-i18n-130.0b1-et.xpi
	noextract = thunderbird-beta-i18n-130.0b1-eu.xpi
	noextract = thunderbird-beta-i18n-130.0b1-fi.xpi
	noextract = thunderbird-beta-i18n-130.0b1-fr.xpi
	noextract = thunderbird-beta-i18n-130.0b1-fy-NL.xpi
	noextract = thunderbird-beta-i18n-130.0b1-ga-IE.xpi
	noextract = thunderbird-beta-i18n-130.0b1-gd.xpi
	noextract = thunderbird-beta-i18n-130.0b1-gl.xpi
	noextract = thunderbird-beta-i18n-130.0b1-he.xpi
	noextract = thunderbird-beta-i18n-130.0b1-hr.xpi
	noextract = thunderbird-beta-i18n-130.0b1-hsb.xpi
	noextract = thunderbird-beta-i18n-130.0b1-hu.xpi
	noextract = thunderbird-beta-i18n-130.0b1-hy-AM.xpi
	noextract = thunderbird-beta-i18n-130.0b1-id.xpi
	noextract = thunderbird-beta-i18n-130.0b1-is.xpi
	noextract = thunderbird-beta-i18n-130.0b1-it.xpi
	noextract = thunderbird-beta-i18n-130.0b1-ja.xpi
	noextract = thunderbird-beta-i18n-130.0b1-ka.xpi
	noextract = thunderbird-beta-i18n-130.0b1-kab.xpi
	noextract = thunderbird-beta-i18n-130.0b1-kk.xpi
	noextract = thunderbird-beta-i18n-130.0b1-ko.xpi
	noextract = thunderbird-beta-i18n-130.0b1-lt.xpi
	noextract = thunderbird-beta-i18n-130.0b1-lv.xpi
	noextract = thunderbird-beta-i18n-130.0b1-ms.xpi
	noextract = thunderbird-beta-i18n-130.0b1-nb-NO.xpi
	noextract = thunderbird-beta-i18n-130.0b1-nl.xpi
	noextract = thunderbird-beta-i18n-130.0b1-nn-NO.xpi
	noextract = thunderbird-beta-i18n-130.0b1-pa-IN.xpi
	noextract = thunderbird-beta-i18n-130.0b1-pl.xpi
	noextract = thunderbird-beta-i18n-130.0b1-pt-BR.xpi
	noextract = thunderbird-beta-i18n-130.0b1-pt-PT.xpi
	noextract = thunderbird-beta-i18n-130.0b1-rm.xpi
	noextract = thunderbird-beta-i18n-130.0b1-ro.xpi
	noextract = thunderbird-beta-i18n-130.0b1-ru.xpi
	noextract = thunderbird-beta-i18n-130.0b1-sk.xpi
	noextract = thunderbird-beta-i18n-130.0b1-sl.xpi
	noextract = thunderbird-beta-i18n-130.0b1-sq.xpi
	noextract = thunderbird-beta-i18n-130.0b1-sr.xpi
	noextract = thunderbird-beta-i18n-130.0b1-sv-SE.xpi
	noextract = thunderbird-beta-i18n-130.0b1-th.xpi
	noextract = thunderbird-beta-i18n-130.0b1-tr.xpi
	noextract = thunderbird-beta-i18n-130.0b1-uk.xpi
	noextract = thunderbird-beta-i18n-130.0b1-uz.xpi
	noextract = thunderbird-beta-i18n-130.0b1-vi.xpi
	noextract = thunderbird-beta-i18n-130.0b1-zh-CN.xpi
	noextract = thunderbird-beta-i18n-130.0b1-zh-TW.xpi
	source = thunderbird-beta-i18n-130.0b1-af.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/af.xpi
	source = thunderbird-beta-i18n-130.0b1-ar.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/ar.xpi
	source = thunderbird-beta-i18n-130.0b1-ast.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/ast.xpi
	source = thunderbird-beta-i18n-130.0b1-be.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/be.xpi
	source = thunderbird-beta-i18n-130.0b1-bg.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/bg.xpi
	source = thunderbird-beta-i18n-130.0b1-br.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/br.xpi
	source = thunderbird-beta-i18n-130.0b1-ca.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/ca.xpi
	source = thunderbird-beta-i18n-130.0b1-cak.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/cak.xpi
	source = thunderbird-beta-i18n-130.0b1-cs.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/cs.xpi
	source = thunderbird-beta-i18n-130.0b1-cy.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/cy.xpi
	source = thunderbird-beta-i18n-130.0b1-da.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/da.xpi
	source = thunderbird-beta-i18n-130.0b1-de.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/de.xpi
	source = thunderbird-beta-i18n-130.0b1-dsb.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/dsb.xpi
	source = thunderbird-beta-i18n-130.0b1-el.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/el.xpi
	source = thunderbird-beta-i18n-130.0b1-en-CA.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/en-CA.xpi
	source = thunderbird-beta-i18n-130.0b1-en-GB.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/en-GB.xpi
	source = thunderbird-beta-i18n-130.0b1-en-US.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/en-US.xpi
	source = thunderbird-beta-i18n-130.0b1-es-AR.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/es-AR.xpi
	source = thunderbird-beta-i18n-130.0b1-es-ES.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/es-ES.xpi
	source = thunderbird-beta-i18n-130.0b1-es-MX.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/es-MX.xpi
	source = thunderbird-beta-i18n-130.0b1-et.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/et.xpi
	source = thunderbird-beta-i18n-130.0b1-eu.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/eu.xpi
	source = thunderbird-beta-i18n-130.0b1-fi.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/fi.xpi
	source = thunderbird-beta-i18n-130.0b1-fr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/fr.xpi
	source = thunderbird-beta-i18n-130.0b1-fy-NL.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/fy-NL.xpi
	source = thunderbird-beta-i18n-130.0b1-ga-IE.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/ga-IE.xpi
	source = thunderbird-beta-i18n-130.0b1-gd.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/gd.xpi
	source = thunderbird-beta-i18n-130.0b1-gl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/gl.xpi
	source = thunderbird-beta-i18n-130.0b1-he.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/he.xpi
	source = thunderbird-beta-i18n-130.0b1-hr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/hr.xpi
	source = thunderbird-beta-i18n-130.0b1-hsb.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/hsb.xpi
	source = thunderbird-beta-i18n-130.0b1-hu.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/hu.xpi
	source = thunderbird-beta-i18n-130.0b1-hy-AM.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/hy-AM.xpi
	source = thunderbird-beta-i18n-130.0b1-id.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/id.xpi
	source = thunderbird-beta-i18n-130.0b1-is.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/is.xpi
	source = thunderbird-beta-i18n-130.0b1-it.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/it.xpi
	source = thunderbird-beta-i18n-130.0b1-ja.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/ja.xpi
	source = thunderbird-beta-i18n-130.0b1-ka.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/ka.xpi
	source = thunderbird-beta-i18n-130.0b1-kab.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/kab.xpi
	source = thunderbird-beta-i18n-130.0b1-kk.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/kk.xpi
	source = thunderbird-beta-i18n-130.0b1-ko.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/ko.xpi
	source = thunderbird-beta-i18n-130.0b1-lt.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/lt.xpi
	source = thunderbird-beta-i18n-130.0b1-lv.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/lv.xpi
	source = thunderbird-beta-i18n-130.0b1-ms.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/ms.xpi
	source = thunderbird-beta-i18n-130.0b1-nb-NO.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/nb-NO.xpi
	source = thunderbird-beta-i18n-130.0b1-nl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/nl.xpi
	source = thunderbird-beta-i18n-130.0b1-nn-NO.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/nn-NO.xpi
	source = thunderbird-beta-i18n-130.0b1-pa-IN.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/pa-IN.xpi
	source = thunderbird-beta-i18n-130.0b1-pl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/pl.xpi
	source = thunderbird-beta-i18n-130.0b1-pt-BR.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/pt-BR.xpi
	source = thunderbird-beta-i18n-130.0b1-pt-PT.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/pt-PT.xpi
	source = thunderbird-beta-i18n-130.0b1-rm.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/rm.xpi
	source = thunderbird-beta-i18n-130.0b1-ro.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/ro.xpi
	source = thunderbird-beta-i18n-130.0b1-ru.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/ru.xpi
	source = thunderbird-beta-i18n-130.0b1-sk.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/sk.xpi
	source = thunderbird-beta-i18n-130.0b1-sl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/sl.xpi
	source = thunderbird-beta-i18n-130.0b1-sq.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/sq.xpi
	source = thunderbird-beta-i18n-130.0b1-sr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/sr.xpi
	source = thunderbird-beta-i18n-130.0b1-sv-SE.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/sv-SE.xpi
	source = thunderbird-beta-i18n-130.0b1-th.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/th.xpi
	source = thunderbird-beta-i18n-130.0b1-tr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/tr.xpi
	source = thunderbird-beta-i18n-130.0b1-uk.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/uk.xpi
	source = thunderbird-beta-i18n-130.0b1-uz.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/uz.xpi
	source = thunderbird-beta-i18n-130.0b1-vi.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/vi.xpi
	source = thunderbird-beta-i18n-130.0b1-zh-CN.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/zh-CN.xpi
	source = thunderbird-beta-i18n-130.0b1-zh-TW.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/130.0b1/linux-x86_64/xpi/zh-TW.xpi
	sha256sums = 9394a574704c7ff40a74a25887912458c3a1749c7f349d5bccbf435a2e7029a0
	sha256sums = ee92def7e705307eca24703d292d1eea9029065b37454c4dd2020e7e271c0622
	sha256sums = 23daa1a38014f2e93579e0c2342cc1474804e94014c22e390a32fe14b1b1d642
	sha256sums = 9dc06ce1e2d488b0d305a81e5bb61944844c534b5d7459b386220477535b7990
	sha256sums = e43b96dc460bae524decae9ac0d15593199097c004cf6815e1b8c93a7a6def69
	sha256sums = 7e979287e37c88298e17fcd21ee892295f767b3269a99b3c298c2300eaab749a
	sha256sums = 81dd0949bb415ac437fa1c5fcb8e0f812b9c1c500e6ca9b74d343926998c5f35
	sha256sums = 4dd39c13392cf7ce59774f34a33704c75372276ecf6e1031a87c84248ea49c10
	sha256sums = b2d7921d36ff25fe0568379bdc5c2d6ce5853f4b174a3cc4e176c9d5a30fa661
	sha256sums = 911387905327d842bc9bd9e8c434297624c56bd5a63278849ab696bbad07a052
	sha256sums = 4ad50e727659cd3160995d0d5647ca15624ffa38e5a46f8e67d50ea79d5b8860
	sha256sums = d1ebc0b8d5fd0a4b88e29525228a77838a5d9b53e76668727fdcc53f31579e66
	sha256sums = 80f70d2903151e63bf1e83ed9fe16154d72c66fd1bb458b48e252bb3f2ac4b0e
	sha256sums = 3fd528f153c74792bf5bcec35dca4bcddf2e66582e7d542994f917ec52ae7bbb
	sha256sums = 28ae14e76dc0088c4200c7fb0771575c6196dfd449d978a646f492a08dfbed17
	sha256sums = c6dd538f67f261338629bac7a608714d46210ae26afa56d9382fc4305374ebfc
	sha256sums = b09c5e5625295a403ed1cb376598fe8c73ab2ec273177cca98d346a6f4b30370
	sha256sums = 165db56de1345104ca3fd47ed5c666b4c77b51c59ba7697d3addd2f07ce8b4bf
	sha256sums = 2cd359b72e022471d8e34ad3c7bddc724f1edaaaeca86367765d282d52532aed
	sha256sums = 61369244a71e44ed425f620ecd54b5bd16cc3c4e18ff9d09d0ba566143e82437
	sha256sums = eebbc8394c471800ad80163e61b0edfe7465c7ef431782ec26eb690f6ca3e54b
	sha256sums = eebea9faa6ce40c681ac226eda1edc74c4c5adf93bd9a7142624106995e0c76c
	sha256sums = e5c615aac04a02a9d3c71c8f045d68cefccef3de405693c9a39e421801799e6b
	sha256sums = 7e592612cc44f1650a32f277ed605c767aebbf0728f7b15a7ac93843beda59cb
	sha256sums = 256b0aae2605ebe163132bdb985f6ffe6f119956f586d6d496b07e0e53bf8131
	sha256sums = ed46d27d7a1c7bfcee2bd29b1f8fd7b4b4bb7bea16f3a39c1a705e72e52e9558
	sha256sums = bd21380f210d708b27e3b6c390793d9f9f34c085d7627899851989f7e7439cc8
	sha256sums = 848f803aeac94fd6365c4fee68f25ca91bf55aac938b44ecee5f1cf7d05c18a0
	sha256sums = b5968404eca38fa9fd036ffaab8a21c45d0cd6c4586d1f754538447d12d8b703
	sha256sums = a3916b633a38c7c762f81b763dd3e729412ed22ecf5247ad70dbdacafdddd629
	sha256sums = 68d90bbd23d0a510f99f9908971602c508724e175e6d59d53bb024731e059bd7
	sha256sums = 65c727975d81c17051ff6f64c7be741475181da18e5efb3ebf4fe1b4a35b8b69
	sha256sums = 713433b6434b0c9babf62f409b8570f5318b356c15df3a73f61fbade103a90e7
	sha256sums = 08ec745f5150ff1ca5e5f98cc3c9eab9e2f6c50e2425a386932e72eea8950ebb
	sha256sums = d6d401cadda83a83ed321bc57303f268b8ea9e37ffbc9069b3f00c7b5b114f0a
	sha256sums = 8bb3ae8ad1100733cc825af522e18008cedbc2bf7e9859e1c6968691abae778c
	sha256sums = d9a012b44cfd44e9d9c5eca18f052ec742a42af0d1a72b2abd3bc230b4cc6bed
	sha256sums = 993bf191f13a95ca4dc83b7493742761accc9bcc22425329a31b5dfda71bedda
	sha256sums = 39671b4aa36b6b560d0ff7ed571c1878a06b1e028e971be01aee99afbe53b15d
	sha256sums = dbbb9909b3784a2f138fb96b5c0815d47a12c743b25adfe3c87d47f2cb47282d
	sha256sums = 6941c615ab67d79dbbe08aba3cbe1c7a269e276dc6a40b96cfc83e3bbd7a1f2a
	sha256sums = b78f48ecfe588c1328f07468840f5cc1a4257249a5914f24e0f865e2ea929ff3
	sha256sums = c75ca7845f1cc60be8a488a813ca56c4c20cddd463dbb416201594a62422062e
	sha256sums = 53f0647820a1fb5138fa237c0e254c29e64af889ec80af2d6b470e5f20b420c6
	sha256sums = 2a34950f7fb94205720899a9cc6b8fd68ae94461710aa993f874ab6e798001a3
	sha256sums = 6580b81f3da14d22bdedd67fc1c29e86f7840a5a78e72038350793cde91a81c6
	sha256sums = 4fc6f935ba10cde54a1f0a4caeb1629df3ac654e05eaef02ff1e910399021120
	sha256sums = a581012ffd0ee0dbcbc1eec0c23bbf7c2dc720c1149f0e944d42ac6cf7fbd28a
	sha256sums = 840e5860ec690981d589e9c68c29542e9d54d9e43a5bd2b72f334d4747c6db53
	sha256sums = 25a71a4afa29443595e21bcf653215df32854bed4b8e046f19244a062805dbc1
	sha256sums = 4a90fe7c117cd273ea1baa820abcabedeae39b4d0c6387b73bb1519a2851fd4f
	sha256sums = 979fc8ed2255f23e5a1978835fc5783fc6459fc3e639923296716d36fbc159f8
	sha256sums = 21db99fede3a4513a1761422433db04ed0ec3e8e14f7cb32f0758945ab558dfa
	sha256sums = a35a2f9888411219fc3e2d9b1f81f8c5c3646691cffb738fd4d277fa96b70331
	sha256sums = c8bf3e23be93e6aa740ffd49287cbf65c641d77785b1a507bd78db4009e379d5
	sha256sums = f138dcb85b07ecacbbe9f114ef9c7a42a53b0a007d109c18b5b447ea524ad785
	sha256sums = 9b4fa8a982eebf6379caae404f88873ee640555d5817fe115385b5c1fa5dc117
	sha256sums = 289a4320345fada94212ec7f409ddc4a3e78490cbb35ecae6d9befea463c75a5
	sha256sums = d695952add04995bb0e5e02d992760c66af1b46adefb1b1f2d0f9ec6eb7e4763
	sha256sums = fbbc4a97fbdc7776e5d52d7b1472fb8091bf6328d9833841388ed8e2566da730
	sha256sums = fd18b63a71220d3d7ce47e5da1d90273cc231684265980d34a2ae655b51164d8
	sha256sums = b454241501d272a6f50c7cada5268ab058aeab90b2694733bff3fd936e134ea4
	sha256sums = 3c35262bd0c047dca31b5b22fc526ec6a6a44fce52f95dbe3f6de03c790ebfe5
	sha256sums = 19c31e041def7afc105175ee5bd377ec4e497c5e7429a255f4ebba96ae957735
	sha256sums = 322deaafdd1e7b7b08c9f14bfffa511546e738e605a34c7d877dc875afca4151
	sha256sums = 26765aa5a0a194209c3f3b92af4b1f36b90df65344c2d4c7951848f1ef5ae363

pkgname = thunderbird-beta-i18n-af
	pkgdesc = Afrikaans language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-ar
	pkgdesc = Arabic language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-ast
	pkgdesc = Asturian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-be
	pkgdesc = Belarusian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-bg
	pkgdesc = Bulgarian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-br
	pkgdesc = Breton language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-ca
	pkgdesc = Catalan language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-cak
	pkgdesc = Kaqchikel language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-cs
	pkgdesc = Czech language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-cy
	pkgdesc = Welsh language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-da
	pkgdesc = Danish language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-de
	pkgdesc = German language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-dsb
	pkgdesc = Sorbian, Lower language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-el
	pkgdesc = Greek language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-en-ca
	pkgdesc = English (Canada) language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-en-gb
	pkgdesc = English (Great Britain) language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-en-us
	pkgdesc = English language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-es-ar
	pkgdesc = Spanish (Argentina) language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-es-es
	pkgdesc = Spanish (Spain) language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-es-mx
	pkgdesc = Spanish (Mexico) language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-et
	pkgdesc = Estonian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-eu
	pkgdesc = Basque language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-fi
	pkgdesc = Finnish language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-fr
	pkgdesc = French language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-fy-nl
	pkgdesc = Frisian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-ga-ie
	pkgdesc = Irish language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-gd
	pkgdesc = Gaelic, Scottish language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-gl
	pkgdesc = Galician language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-he
	pkgdesc = Hebrew language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-hr
	pkgdesc = Croatian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-hsb
	pkgdesc = Sorbian, Upper language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-hu
	pkgdesc = Hungarian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-hy-am
	pkgdesc = Armenian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-id
	pkgdesc = Indonesian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-is
	pkgdesc = Icelandic language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-it
	pkgdesc = Italian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-ja
	pkgdesc = Japanese language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-ka
	pkgdesc = Georgian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-kab
	pkgdesc = Kabyle language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-kk
	pkgdesc = Kazakh language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-ko
	pkgdesc = Korean language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-lt
	pkgdesc = Lithuanian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-lv
	pkgdesc = Latvian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-ms
	pkgdesc = Malay language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-nb-no
	pkgdesc = Norwegian Bokmål language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-nl
	pkgdesc = Dutch language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-nn-no
	pkgdesc = Norwegian Nynorsk language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-pa-in
	pkgdesc = Punjabi language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-pl
	pkgdesc = Polish language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-pt-br
	pkgdesc = Portuguese (Brazil) language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-pt-pt
	pkgdesc = Portuguese (Portugal) language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-rm
	pkgdesc = Romansh language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-ro
	pkgdesc = Romanian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-ru
	pkgdesc = Russian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-sk
	pkgdesc = Slovak language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-sl
	pkgdesc = Slovenian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-sq
	pkgdesc = Albanian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-sr
	pkgdesc = Serbian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-sv-se
	pkgdesc = Swedish language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-th
	pkgdesc = Thai language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-tr
	pkgdesc = Turkish language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-uk
	pkgdesc = Ukrainian language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-uz
	pkgdesc = Uzbek language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-vi
	pkgdesc = Vietnamese language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-zh-cn
	pkgdesc = Chinese (China) language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

pkgname = thunderbird-beta-i18n-zh-tw
	pkgdesc = Chinese (Taiwan) language pack for Thunderbird Beta
	depends = thunderbird>=130.0b0

