pkgbase = thunderbird-beta-i18n
	pkgdesc = Language packs for Thunderbird Beta
	pkgver = 128.0b6
	pkgrel = 1
	url = http://www.mozilla.com/
	arch = any
	license = MPL-2.0
	license = GPL-2.0-only
	license = LGPL-2.1-only
	noextract = thunderbird-beta-i18n-128.0b6-af.xpi
	noextract = thunderbird-beta-i18n-128.0b6-ar.xpi
	noextract = thunderbird-beta-i18n-128.0b6-ast.xpi
	noextract = thunderbird-beta-i18n-128.0b6-be.xpi
	noextract = thunderbird-beta-i18n-128.0b6-bg.xpi
	noextract = thunderbird-beta-i18n-128.0b6-br.xpi
	noextract = thunderbird-beta-i18n-128.0b6-ca.xpi
	noextract = thunderbird-beta-i18n-128.0b6-cak.xpi
	noextract = thunderbird-beta-i18n-128.0b6-cs.xpi
	noextract = thunderbird-beta-i18n-128.0b6-cy.xpi
	noextract = thunderbird-beta-i18n-128.0b6-da.xpi
	noextract = thunderbird-beta-i18n-128.0b6-de.xpi
	noextract = thunderbird-beta-i18n-128.0b6-dsb.xpi
	noextract = thunderbird-beta-i18n-128.0b6-el.xpi
	noextract = thunderbird-beta-i18n-128.0b6-en-CA.xpi
	noextract = thunderbird-beta-i18n-128.0b6-en-GB.xpi
	noextract = thunderbird-beta-i18n-128.0b6-en-US.xpi
	noextract = thunderbird-beta-i18n-128.0b6-es-AR.xpi
	noextract = thunderbird-beta-i18n-128.0b6-es-ES.xpi
	noextract = thunderbird-beta-i18n-128.0b6-es-MX.xpi
	noextract = thunderbird-beta-i18n-128.0b6-et.xpi
	noextract = thunderbird-beta-i18n-128.0b6-eu.xpi
	noextract = thunderbird-beta-i18n-128.0b6-fi.xpi
	noextract = thunderbird-beta-i18n-128.0b6-fr.xpi
	noextract = thunderbird-beta-i18n-128.0b6-fy-NL.xpi
	noextract = thunderbird-beta-i18n-128.0b6-ga-IE.xpi
	noextract = thunderbird-beta-i18n-128.0b6-gd.xpi
	noextract = thunderbird-beta-i18n-128.0b6-gl.xpi
	noextract = thunderbird-beta-i18n-128.0b6-he.xpi
	noextract = thunderbird-beta-i18n-128.0b6-hr.xpi
	noextract = thunderbird-beta-i18n-128.0b6-hsb.xpi
	noextract = thunderbird-beta-i18n-128.0b6-hu.xpi
	noextract = thunderbird-beta-i18n-128.0b6-hy-AM.xpi
	noextract = thunderbird-beta-i18n-128.0b6-id.xpi
	noextract = thunderbird-beta-i18n-128.0b6-is.xpi
	noextract = thunderbird-beta-i18n-128.0b6-it.xpi
	noextract = thunderbird-beta-i18n-128.0b6-ja.xpi
	noextract = thunderbird-beta-i18n-128.0b6-ka.xpi
	noextract = thunderbird-beta-i18n-128.0b6-kab.xpi
	noextract = thunderbird-beta-i18n-128.0b6-kk.xpi
	noextract = thunderbird-beta-i18n-128.0b6-ko.xpi
	noextract = thunderbird-beta-i18n-128.0b6-lt.xpi
	noextract = thunderbird-beta-i18n-128.0b6-lv.xpi
	noextract = thunderbird-beta-i18n-128.0b6-ms.xpi
	noextract = thunderbird-beta-i18n-128.0b6-nb-NO.xpi
	noextract = thunderbird-beta-i18n-128.0b6-nl.xpi
	noextract = thunderbird-beta-i18n-128.0b6-nn-NO.xpi
	noextract = thunderbird-beta-i18n-128.0b6-pa-IN.xpi
	noextract = thunderbird-beta-i18n-128.0b6-pl.xpi
	noextract = thunderbird-beta-i18n-128.0b6-pt-BR.xpi
	noextract = thunderbird-beta-i18n-128.0b6-pt-PT.xpi
	noextract = thunderbird-beta-i18n-128.0b6-rm.xpi
	noextract = thunderbird-beta-i18n-128.0b6-ro.xpi
	noextract = thunderbird-beta-i18n-128.0b6-ru.xpi
	noextract = thunderbird-beta-i18n-128.0b6-sk.xpi
	noextract = thunderbird-beta-i18n-128.0b6-sl.xpi
	noextract = thunderbird-beta-i18n-128.0b6-sq.xpi
	noextract = thunderbird-beta-i18n-128.0b6-sr.xpi
	noextract = thunderbird-beta-i18n-128.0b6-sv-SE.xpi
	noextract = thunderbird-beta-i18n-128.0b6-th.xpi
	noextract = thunderbird-beta-i18n-128.0b6-tr.xpi
	noextract = thunderbird-beta-i18n-128.0b6-uk.xpi
	noextract = thunderbird-beta-i18n-128.0b6-uz.xpi
	noextract = thunderbird-beta-i18n-128.0b6-vi.xpi
	noextract = thunderbird-beta-i18n-128.0b6-zh-CN.xpi
	noextract = thunderbird-beta-i18n-128.0b6-zh-TW.xpi
	source = thunderbird-beta-i18n-128.0b6-af.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/af.xpi
	source = thunderbird-beta-i18n-128.0b6-ar.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/ar.xpi
	source = thunderbird-beta-i18n-128.0b6-ast.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/ast.xpi
	source = thunderbird-beta-i18n-128.0b6-be.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/be.xpi
	source = thunderbird-beta-i18n-128.0b6-bg.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/bg.xpi
	source = thunderbird-beta-i18n-128.0b6-br.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/br.xpi
	source = thunderbird-beta-i18n-128.0b6-ca.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/ca.xpi
	source = thunderbird-beta-i18n-128.0b6-cak.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/cak.xpi
	source = thunderbird-beta-i18n-128.0b6-cs.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/cs.xpi
	source = thunderbird-beta-i18n-128.0b6-cy.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/cy.xpi
	source = thunderbird-beta-i18n-128.0b6-da.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/da.xpi
	source = thunderbird-beta-i18n-128.0b6-de.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/de.xpi
	source = thunderbird-beta-i18n-128.0b6-dsb.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/dsb.xpi
	source = thunderbird-beta-i18n-128.0b6-el.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/el.xpi
	source = thunderbird-beta-i18n-128.0b6-en-CA.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/en-CA.xpi
	source = thunderbird-beta-i18n-128.0b6-en-GB.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/en-GB.xpi
	source = thunderbird-beta-i18n-128.0b6-en-US.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/en-US.xpi
	source = thunderbird-beta-i18n-128.0b6-es-AR.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/es-AR.xpi
	source = thunderbird-beta-i18n-128.0b6-es-ES.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/es-ES.xpi
	source = thunderbird-beta-i18n-128.0b6-es-MX.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/es-MX.xpi
	source = thunderbird-beta-i18n-128.0b6-et.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/et.xpi
	source = thunderbird-beta-i18n-128.0b6-eu.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/eu.xpi
	source = thunderbird-beta-i18n-128.0b6-fi.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/fi.xpi
	source = thunderbird-beta-i18n-128.0b6-fr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/fr.xpi
	source = thunderbird-beta-i18n-128.0b6-fy-NL.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/fy-NL.xpi
	source = thunderbird-beta-i18n-128.0b6-ga-IE.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/ga-IE.xpi
	source = thunderbird-beta-i18n-128.0b6-gd.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/gd.xpi
	source = thunderbird-beta-i18n-128.0b6-gl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/gl.xpi
	source = thunderbird-beta-i18n-128.0b6-he.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/he.xpi
	source = thunderbird-beta-i18n-128.0b6-hr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/hr.xpi
	source = thunderbird-beta-i18n-128.0b6-hsb.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/hsb.xpi
	source = thunderbird-beta-i18n-128.0b6-hu.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/hu.xpi
	source = thunderbird-beta-i18n-128.0b6-hy-AM.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/hy-AM.xpi
	source = thunderbird-beta-i18n-128.0b6-id.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/id.xpi
	source = thunderbird-beta-i18n-128.0b6-is.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/is.xpi
	source = thunderbird-beta-i18n-128.0b6-it.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/it.xpi
	source = thunderbird-beta-i18n-128.0b6-ja.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/ja.xpi
	source = thunderbird-beta-i18n-128.0b6-ka.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/ka.xpi
	source = thunderbird-beta-i18n-128.0b6-kab.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/kab.xpi
	source = thunderbird-beta-i18n-128.0b6-kk.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/kk.xpi
	source = thunderbird-beta-i18n-128.0b6-ko.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/ko.xpi
	source = thunderbird-beta-i18n-128.0b6-lt.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/lt.xpi
	source = thunderbird-beta-i18n-128.0b6-lv.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/lv.xpi
	source = thunderbird-beta-i18n-128.0b6-ms.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/ms.xpi
	source = thunderbird-beta-i18n-128.0b6-nb-NO.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/nb-NO.xpi
	source = thunderbird-beta-i18n-128.0b6-nl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/nl.xpi
	source = thunderbird-beta-i18n-128.0b6-nn-NO.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/nn-NO.xpi
	source = thunderbird-beta-i18n-128.0b6-pa-IN.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/pa-IN.xpi
	source = thunderbird-beta-i18n-128.0b6-pl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/pl.xpi
	source = thunderbird-beta-i18n-128.0b6-pt-BR.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/pt-BR.xpi
	source = thunderbird-beta-i18n-128.0b6-pt-PT.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/pt-PT.xpi
	source = thunderbird-beta-i18n-128.0b6-rm.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/rm.xpi
	source = thunderbird-beta-i18n-128.0b6-ro.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/ro.xpi
	source = thunderbird-beta-i18n-128.0b6-ru.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/ru.xpi
	source = thunderbird-beta-i18n-128.0b6-sk.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/sk.xpi
	source = thunderbird-beta-i18n-128.0b6-sl.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/sl.xpi
	source = thunderbird-beta-i18n-128.0b6-sq.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/sq.xpi
	source = thunderbird-beta-i18n-128.0b6-sr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/sr.xpi
	source = thunderbird-beta-i18n-128.0b6-sv-SE.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/sv-SE.xpi
	source = thunderbird-beta-i18n-128.0b6-th.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/th.xpi
	source = thunderbird-beta-i18n-128.0b6-tr.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/tr.xpi
	source = thunderbird-beta-i18n-128.0b6-uk.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/uk.xpi
	source = thunderbird-beta-i18n-128.0b6-uz.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/uz.xpi
	source = thunderbird-beta-i18n-128.0b6-vi.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/vi.xpi
	source = thunderbird-beta-i18n-128.0b6-zh-CN.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/zh-CN.xpi
	source = thunderbird-beta-i18n-128.0b6-zh-TW.xpi::https://ftp.mozilla.org/pub/thunderbird/releases/128.0b6/linux-x86_64/xpi/zh-TW.xpi
	sha256sums = ca7c4d47a6a7688361ca24f2e4a67b15f15e6b10aedae9b154cf32e979f02112
	sha256sums = 41fe0b3154ea0bf19828c0926e277b948c72381c6e7feb3b781be752506af32e
	sha256sums = 6a6d2f0240ce8270f21186e5ed6841f6fbe99a3560167b6ee60f3763b0c8c36d
	sha256sums = 8664b1d47db020febf197554391bb93735a7f0fadb51756f9ef3f4a2b585df74
	sha256sums = 6cedbf58d0df7614f3b158639a87a3692d5ebe80ff6b3ebac5ba1d118c22cb6b
	sha256sums = c00e48df48027c0f15441f1c8d4b25947282d2db2d1d1a9f7819de9545aeb8e5
	sha256sums = 330fdae0eb1a7fdbd7f594fec4122873b971cb5d99c021c84711a145906e4da9
	sha256sums = 2de103110181178dd7d15936b5c75c15a7b615a692950f494fc6dddef21a881a
	sha256sums = 396dee00752f026986ac15fcb88397d4e7873908173b0aad892c020b2860145c
	sha256sums = 545ae87614c8f51045730f3b42bba284d08926a6f9e9cc5f2eb910fc3a087170
	sha256sums = b7b0e608c19b20d606363ed35e44e5556208c18a9a764996c4c9ae04dbfbe9ba
	sha256sums = b66d00099d339f0a86e54a37538a99f423a1a1c58cdb6a407bd5e9dff185cd90
	sha256sums = 5c5c9bafa6cf69322f81701b274cc6d2bdd0b92a72a58b8d221d691cb3754933
	sha256sums = 6b7b0bb438413581a99f02e588c094a1357b51ae6ba2389a962fa88afe76f10a
	sha256sums = bf1b2334862da2ae7698ef37c898dd9f239e8c2b4b8049507492293799e57d9a
	sha256sums = c50318526123eb62d05356451f29c4c364741b97171d7a51782f5ba6f838aa6d
	sha256sums = 6e9daf0a118c6cde3b75076a8f3a09f720f105f3217ac44a823f07410f9341e5
	sha256sums = 810d7a7f208b025d710c0eebf8bcd9315d0aa43284ef47f478cfe1ab91229631
	sha256sums = e86f52a556309e4fca21d06720fb4554571f52a145742bb4c0c7c559f1ae3bfb
	sha256sums = 627f23dd159a95d9c8eac28d6f02bff1b09675e17a637bf6eff4f54c5b556f81
	sha256sums = 1b751ae7b4f7ca3f57ae403aed721d7d94211b38d44defc87674b5cf4df7cd00
	sha256sums = 94cea82a63b0db0e8167ebdb81c5b5fcc2e41cb556ee66d1b420d65a3a87eed7
	sha256sums = ed8e869d393de72c96917262ef7a93554d3b90e64a51adf0018214be636348e8
	sha256sums = 1f206dbd1ebb9cb05458f49306ea4fe16ed5b9f83c875aa8afb82209465dadae
	sha256sums = df3101a9dd07b34f5adbd743196dca1db9dd402c8434ac67769b13eb3da4313a
	sha256sums = ed7b150c7e52bef59eaec41477f64d85aa5cbe6cce2831d8af69c7e7902746eb
	sha256sums = 0d0726398b464deddb8a6ca5f7932fb9a76cf675d932916763ebdc888960ffe2
	sha256sums = 4316538fdf7c12dae33caec7fa11603e86858fc3c01b528800d014044174d5cf
	sha256sums = 102e7c5fbdd9293abc9ddfaf19d0a896207fbfc733a10b02d9e9aed1b5528c5b
	sha256sums = 8c80ae37b10d09f5fc51927dd39047af300a7d9a24571b9e5d71384fec931a20
	sha256sums = 180c87688d08a4597d1a088f324e4b016de9361f982ee0fa8b276138764cc35b
	sha256sums = e245eb4cb02e55793987179bd7a593f6df6f4dbe422192f43bc99f54e7e718b2
	sha256sums = 772bd3b0c9c1b63a04e4f17a6191c4310fb8b3b2d44110e677eb30dedd9684de
	sha256sums = c40a39a86354e362d9665369e1270993e6131cbe2c05cf6e852f4065fc03f90b
	sha256sums = dc4e87a909819ff3600990c24b0001fcea5f8915d1b48692a6f269645c2d0815
	sha256sums = 237aaf605097c4be9567fb34dd20fcba116b918411f40e3b4eb064d5953c24fd
	sha256sums = ef1409e8952f9e9847791fa86eb08d52f48dba4227b18a1aae7cde904bc29e1d
	sha256sums = e7608fcb4b78e3d73cecbe2287356f53ad99c330fd53a4263fd6a70f8ac8dafe
	sha256sums = 4661c4ea041c1dac26a51a34facd32e8a99f9eff2ff45970cdba25e6f4c5d47c
	sha256sums = 50a9706d57551d881e48093482db882a4d7c885b5887265eb07c898017f42004
	sha256sums = 673a0b1a5685f8eabbf0cdae43a82f5d0e9e85491f999f1836effe4e9249632e
	sha256sums = 8d3f47f703394b45b6cb0be52f6c220ebb9e12a74d2ab690ecb5d9d795a37874
	sha256sums = e11ab3d29657ddbdbcf71a28adc7a69bfdb9eec270f9a257f079ac46a4e2a454
	sha256sums = 8162ffe3f8ba17e3bb625b86df5932cf58683c0b3320e8d4736f53c61dce8fbe
	sha256sums = 02c3b180514e9455bd04704701c45a2179731aa279a8ae10271833f9152aff23
	sha256sums = 8410f275427a6702ad4546bf8dde406f8a92d2f5ee0353b2789070e325b8d88d
	sha256sums = e5c793e968b216576c850df0b297b799d93aa741da20b1864f28130fb34623a7
	sha256sums = b2f81f85b14cd8d56275c6cf686c4873b6fd97fcaaef44ee64a0f24c14ec092d
	sha256sums = cc410e97f3dcd23c8e8781e331475b65084cd3fdcf1f600150308f6f406f1d23
	sha256sums = 5eebe55b817639c9393bebfbd1e7ab2193b2ca6b26bd8c771ec6b19a12f3df32
	sha256sums = 7e564567b4b7f6216e234eac309975fcc1cc4818fa1a48ef999ab27e34e36e03
	sha256sums = e8d056ca160bc72bdbadb41c409d2d2bb80cab4a55a389b74843ccf27a03e4a0
	sha256sums = 73770cc8e7a72f3a70fb95628bbd923f1fbba60826f2d1036d6b83915a196ac0
	sha256sums = 77301112d6bac61bd38097d0a756beef66580399eca0628e826aaa295ac014c3
	sha256sums = 1c1521b9954a9fe531d08ccfc697ba19f8557764d0ab644461eef71ea571697f
	sha256sums = 84fb9a2a57b5d4f823ede6b776c6dfca8c034c40f90b9e2d017cf445118e3d28
	sha256sums = 6a523a652e594058d842d12e6cdfca6b0e5e6d6426f8f6cddba4b3b8d4d3ffdc
	sha256sums = 5e3115041979324ffea75e1938d8e7a7517845658dcd32384584325b77ca4fd6
	sha256sums = 11b37fe3c87bc3f7877a300366c94b80eef16709e5dcee85d6b128e6449bb684
	sha256sums = 9c9585a2d287dd6bd5c4834d0f1af75cc68212b67ede8b8bd6a09a826dcf6752
	sha256sums = 80385a5b7f33c60a702b24d31917198dd53c5078e2bb5ffa4a87f45da6abea8a
	sha256sums = 660cd761d7d2fe9ffdb383444e5d180f55c3deae60d02c4e2dc9573c78ee3d86
	sha256sums = f46a46c2d5efeeea84fdec9a0e82125c7a6393bea6d626fac765eca82342d514
	sha256sums = 6f3a9092a0a2c0030b2d9f882afc981abd92bccb9c129fa71ce69828f944ff1f
	sha256sums = 99b72342ff08e5e2307e8c67ff22260040b622e9ae863409da72b9afea5008f4
	sha256sums = e3c28b45b179401634e7df8bc623e575c69b8452a51748bf609e89886b80dba6

pkgname = thunderbird-beta-i18n-af
	pkgdesc = Afrikaans language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-ar
	pkgdesc = Arabic language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-ast
	pkgdesc = Asturian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-be
	pkgdesc = Belarusian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-bg
	pkgdesc = Bulgarian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-br
	pkgdesc = Breton language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-ca
	pkgdesc = Catalan language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-cak
	pkgdesc = Kaqchikel language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-cs
	pkgdesc = Czech language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-cy
	pkgdesc = Welsh language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-da
	pkgdesc = Danish language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-de
	pkgdesc = German language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-dsb
	pkgdesc = Sorbian, Lower language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-el
	pkgdesc = Greek language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-en-ca
	pkgdesc = English (Canada) language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-en-gb
	pkgdesc = English (Great Britain) language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-en-us
	pkgdesc = English language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-es-ar
	pkgdesc = Spanish (Argentina) language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-es-es
	pkgdesc = Spanish (Spain) language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-es-mx
	pkgdesc = Spanish (Mexico) language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-et
	pkgdesc = Estonian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-eu
	pkgdesc = Basque language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-fi
	pkgdesc = Finnish language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-fr
	pkgdesc = French language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-fy-nl
	pkgdesc = Frisian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-ga-ie
	pkgdesc = Irish language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-gd
	pkgdesc = Gaelic, Scottish language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-gl
	pkgdesc = Galician language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-he
	pkgdesc = Hebrew language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-hr
	pkgdesc = Croatian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-hsb
	pkgdesc = Sorbian, Upper language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-hu
	pkgdesc = Hungarian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-hy-am
	pkgdesc = Armenian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-id
	pkgdesc = Indonesian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-is
	pkgdesc = Icelandic language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-it
	pkgdesc = Italian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-ja
	pkgdesc = Japanese language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-ka
	pkgdesc = Georgian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-kab
	pkgdesc = Kabyle language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-kk
	pkgdesc = Kazakh language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-ko
	pkgdesc = Korean language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-lt
	pkgdesc = Lithuanian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-lv
	pkgdesc = Latvian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-ms
	pkgdesc = Malay language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-nb-no
	pkgdesc = Norwegian Bokmål language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-nl
	pkgdesc = Dutch language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-nn-no
	pkgdesc = Norwegian Nynorsk language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-pa-in
	pkgdesc = Punjabi language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-pl
	pkgdesc = Polish language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-pt-br
	pkgdesc = Portuguese (Brazil) language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-pt-pt
	pkgdesc = Portuguese (Portugal) language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-rm
	pkgdesc = Romansh language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-ro
	pkgdesc = Romanian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-ru
	pkgdesc = Russian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-sk
	pkgdesc = Slovak language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-sl
	pkgdesc = Slovenian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-sq
	pkgdesc = Albanian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-sr
	pkgdesc = Serbian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-sv-se
	pkgdesc = Swedish language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-th
	pkgdesc = Thai language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-tr
	pkgdesc = Turkish language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-uk
	pkgdesc = Ukrainian language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-uz
	pkgdesc = Uzbek language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-vi
	pkgdesc = Vietnamese language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-zh-cn
	pkgdesc = Chinese (China) language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

pkgname = thunderbird-beta-i18n-zh-tw
	pkgdesc = Chinese (Taiwan) language pack for Thunderbird Beta
	depends = thunderbird>=128.0b0

